.cart-page{
  display: flex;
  flex-direction: column;
}
.cart_page{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 2px;
  align-items: center;
  margin-bottom: 10px;
}
.cart_items{
  display: flex;
  flex-direction: column;
  padding: 9px;
  border: 1px solid black;
  margin-bottom: 5px;
  background-color: rgb(240, 239, 239);
}
.cart-items-details{
  padding: 5px;
}
.cart-all-buttons{
  display: flex;
  flex-direction: row;
}
.cart-all-buttons button{
  margin-right: 5px;
  padding: 10px;
}
.cart-checkout-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apply-coupons{
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
}
.apply-coupons button{
  margin-left: 10px;
}
.total-price-of-cart{
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.cart-button{
  padding: 5px;
}
.checkout-button{
  padding: 5px;
  margin-bottom: 15px;
}
.cart_page svg{
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}