.cart-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-page h2{
  margin-top: 10px;
}
.cart_page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 2px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.cart_items{
  display: flex;
  flex-direction: column;
  padding: 9px;
  border: 1px solid rgb(170, 130, 130);
  margin-bottom: 15px;
  background-color: rgb(240, 239, 239);
  margin-right: 10px;
}
.cart-items-details{
  padding: 5px;
}
.cart-all-buttons{
  display: flex;
  flex-direction: row;
}

.cart-checkout-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apply-coupons{
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
}
.apply-coupons button{
  margin-left: 10px;
}
.total-price-of-cart{
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.cart-button{
  padding: 5px;
  background-color: green;
  border: none;
  cursor: pointer;
  color: white;
  font-size: large;
}
.checkout-button{
  padding: 5px;
  background-color: green;
  border: none;
  cursor: pointer;
  color: white;
  font-size: large;
  margin-bottom: 10px;
}
.cart_page svg{
  cursor: pointer;
    border: 1px solid red;
    padding: 10px;
}
.cart-add-delete-button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(202, 192, 192);
  margin-right: 10px;
  border: 1px solid rgb(151, 124, 124);
}