.product-card {
  width: 200px;
  height: auto;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  padding: 10px;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  outline: 2px solid rgba(0, 0, 0, .205);
}
.product-card:hover{
  outline: 2px solid rgba(0, 0, 0, .7);
}
.product-card img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-card h2 {
  font-size: 18px;
  margin: 0;
}

.product-card p.price {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.star {
  font-size: 20px;
  color: #ffcc00;
  margin-right: 5px;
}

.rating-count {
  font-size: 16px;
  margin-left: 5px;
}

.add-to-cart {
  background-color: #0066cc;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  padding: 5px;
}

.add-to-cart:hover {
  background-color: #0052a3;
}
.reviews{
  margin: 0;
  font-size: 10px;
}
.remove-from-cart{
  background-color: rgb(229, 39, 39);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  padding: 5px;
}