/* .home-page {
    width: 100%;
  }
  
  .image-carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  
  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  
  @media (max-width: 767px) {
    .image-carousel {
      height: 200px;
    }
    
    .image-container {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .image {
      width: 60%;
      height: 100%;
      object-fit: cover;
    }
  }
   */

   .banner {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  .banner-image {
    width: 100%;
    height: 300px;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .banner-image {
      width: 100%;
      height: 150px;
    }
  }
  
  @media (max-width: 480px) {
    .banner-image {
      width: 100%;
      height: 150px;
    }
  }
  