.checkout-page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    justify-content: center;
  }
.left-side-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.address {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.address-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid skyblue;
  padding: 5px;
}
.right-side-details {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.price-details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
}
@media screen and (max-width: 1000px) {
  .checkout-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .left-side-address {
    width: 100%;
    padding: 10px;
  }
  .right-side-details{
    margin-top: 2rem;
    padding: 10px;
  }
}