.filters {
    position: sticky;
    top: 0;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 40vh;
    outline: 2px solid rgba(0, 0, 0, .205);
    /* border:1px solid gray; */
    /* border-radius: 10px; */
  }
  
  .title {
    margin-bottom: 10px;
    text-decoration: underline;
    white-space: nowrap;
    font-weight: bold;
  }

.filters_options{
    display: flex;
    flex-direction: column;
}  
.filters_options span {
    margin-bottom: 20px;
}
.radio-container {
  font-size: medium;
}
.radio-container input {
  margin-left: 4px;
}
.link-cart-icon {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
label{
  font-weight: bold;
}
p{
  font-weight: bold;
}
.filters_options button{
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .filters {
    height: 65vh;
  }
}