body {
    font-family: 'Roboto', sans-serif;
  }
  

.home_page {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.singleproduct_page {
    display: flex;
    border: 1px solid black;
    padding: 1rem;
    margin-top: 10px;
    margin-left: 5px;
}
.singleproduct_page p {
    margin-right: 10px;
}
.singleproduct_page img {
    height: 50px;
    width: 50px;
}

.cart_page {
    display: flex;
    flex-direction: column;
}
.cart_page img{
    height: 50px;
    width: 50px;
}
.cart_items {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.cart_items p {
    margin-right: 15px;
}
.cart_items button {
    margin-right: 10px;
}