.product-categories{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.categories{
  display: flex;
  justify-content: center;
  align-items: center;
}
.category{
  cursor: pointer;  
}
.category:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 1000px) {
  .product-categories{
    padding: 2rem;
    justify-content: center;
  }
  .categories{
    flex-direction: column;
    justify-content: center;
  }
  .category img{
    width: 300px;
    height: 300px;
  }
}